# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# tex auxiliary files
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc
dynamics.bib.sav.tmp
*.npz
*.ini
*.bak
*.png

# Files produced by tex

chaos.pdf

# Files produced by python programs

chaos_book/projects/hypershere.png
chaos_book/projects/periodicorbits.png
chaos_book/projects/recurrences.png
chaos_book/projects/return.png
chaos_book/projects/sections.png

chaos_book/projects/Lorentz.pdf
chaos_book/projects/MyNamePHYS7123.tex
chaos_book/projects/defs.tex
chaos_book/projects/figs/
chaos_book/projects/refs.tex
chaos_book/wk10/Henon1.png
chaos_book/wk10/Henon2.png
chaos_book/wk10/Logistic.png
chaos_book/wk10/Q10-3.png
chaos_book/wk7/case1.png
chaos_book/wk7/case2.png
chaos_book/wk7/case3.png
chaos_book/wk8/case1.png



